@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}
body {
  background: url(../assets/wp5837647-spring-japan-wallpapers.jpg);
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100dvh;
  background: rgb(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
}

.main-container{
    justify-content: center;
    width: 300px;
    height: 496px;
    border-radius: 12px;
    z-index: 1;
    background: linear-gradient(rgb(0,0,0, 0.15), rgb(255,255,255,0.15));
    backdrop-filter: blur(15px);
    padding: 20px;
}
.input-container{
    position: relative;
    margin-bottom: 20px;
}
.searchbar{
    width: 100%;
    padding: 10px 15px;
    border-radius: 99px;
    border: 3px;
    outline: none;
    background: rgb(0, 0, 0, 0.15);
}
.searchbar::placeholder{
    color: aliceblue;
}
.search-button{
    position: absolute;
    background: none;
    transform: translateY(-50%);
    right: 10px;
    top: 50%;
    cursor: pointer;
    border: none;
    display: flex;
    transition: 0.2s;
}
.search-button:hover{
    color: red;
}