
/*Weather Info ->*/

.weather-info{
    font-weight: 0;
}
.locationDate-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.location-info{
    display: flex;
    align-items: center;
    gap: 6px;
}
.locationOn{
    display: inherit;
}
.dateAndtime{
    display: flex;
    align-items: center;
}
.weather-summary{
    padding: 10px 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
.weather-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.temp-weth{
    margin-top: 5px;
}
.temperature{
    margin-top: 10px;
    font-weight:500;
    font-size: 27px;
}
.weather-desc{
    font-weight: lighter;
    font-weight: 300;
}
.weather-conditions-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12.5px;
}
.condition-item{
    text-align: center;
    display: flex;
    gap: 6px;
}
.humid{
    display: flex;
    text-align: left;
}
.condtition-item span{
font-size: 30px;
}
.condition-info {
    text-align: left;
}
.condition-info h3{
    font-weight:lighter;
    font-weight: 300;
}

/*future weather grid */