.main-container{
    justify-content: center;
    width: 300px;
    height: 496px;
    border-radius: 12px;
    z-index: 1;
    background: linear-gradient(rgb(0,0,0, 0.15), rgb(255,255,255,0.15));
    backdrop-filter: blur(15px);
    padding: 20px;
}
.input-container{
    position: relative;
    margin-bottom: 20px;
}
.searchbar{
    width: 100%;
    padding: 10px 15px;
    border-radius: 99px;
    border: 3px;
    outline: none;
    background: rgb(0, 0, 0, 0.15);
}
.searchbar::placeholder{
    color: aliceblue;
}
.search-button{
    position: absolute;
    background: none;
    transform: translateY(-50%);
    right: 0px;
    top: 50%;
    cursor: pointer;
    border: none;
    display: flex;
    transition: 0.2s;
}
.search-button:hover{
    color: red;
}
/*Weather Info ->*/

.weather-info{
    font-weight: 0;
}
.locationDate-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.location-info{
    display: flex;
    align-items: center;
    gap: 6px;
}
.locationOn{
    display: inherit;
}
.dateAndtime{
    display: flex;
    align-items: center;
}
.weather-summary{
    padding: 10px 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: space-between;
}
.weather-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.temp-weth{
    margin-top: 5px;
}
.temperature{
    margin-top: 10px;
    font-weight:500;
    font-size: 27px;
}
.weather-desc{
    font-weight: lighter;
    font-weight: 300;
}
.weather-conditions-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 12.5px;
}
.condition-item{
    text-align: center;
    display: flex;
    gap: 6px;
}
.humid{
    display: flex;
    text-align: left;
}
.condtition-item span{
font-size: 30px;
}
.condition-info {
    text-align: left;
}
.condition-info h3{
    font-weight:lighter;
    font-weight: 300;
}

/*future weather grid */

.next-days-info{
    text-align: center;
    height: 150px;
    width: auto;
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 40px;
}

.grid-container{
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    gap: 0px;
    width: 100px;
    border-radius: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.15), rgb(255,255,255,0.15));
    backdrop-filter: blur(15px);
    z-index: 2;
}
.slide h3{
    font-weight: lighter;
    font-weight: 500;
    padding-bottom: 5px;
}
.slide img{
    padding-top: 0px;
    width: 50px;
    height: 50px;
}
.slide h4{
    font-weight: lighter;
    font-weight: 500;
    font-size: 20px;
}