.grid-container::-webkit-scrollbar{
    height: 8px; 
}
.grid-container::-webkit-scrollbar-thumb{
    background: rgb(139, 139, 139);
    border-radius: 10px;
}
.grid-container::-webkit-scrollbar-track{
    background-color: green;
}
.grid-container{
    justify-content: flex-start;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    gap: 10px;
    z-index: 2;
    margin: 30px 0px;
    padding-bottom: 15px;
}
.grid-item{
    text-align: center;
    border-radius: 20px;
    gap: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.15), rgb(255,255,255,0.15));
    backdrop-filter: blur(15px);
}
.slide h3{
    font-weight: lighter;
    font-weight: 500;
    padding-bottom: 5px;
}
.slide img{
    padding-top: 0px;
    width: 50px;
    height: 50px;
}
.slide h4{
    font-weight: lighter;
    font-weight: 500;
    font-size: 20px;
}